<!DOCTYPE html>
<html th:replace="~{/recruiter/layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>View Job</title>
</head>

<body>
    <main class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div th:if="${error}">
                <p style="color:red;">Job not found</p>
            </div>
            <h1 th:text="${job.title}">Job Title</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="'Company: ' + ${job.company}"></h5>
            <p class="card-text" th:text="'Salary: $' + ${job.salary}"></p>
            <p class="card-text" th:text="${job.description}"></p>
            <a href="/recruiter" class="btn btn-secondary">Back to Job List</a>
        </div>
    </div>
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
