<!DOCTYPE html>
<html th:replace="~{/seeker/layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Jobs Finder</title>
</head>

<body>
    <main class="container mt-5">
        <h1 class="mb-4">Applied Jobs</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Company</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="jobApplication : ${applications}">
                    <td th:text="${jobApplication.job.title}"></td>
                    <td th:text="${jobApplication.job.company}"></td>
                    <td th:text="${jobApplication.status}"></td>
                </tr>

            </tbody>
        </table>
    </main>
</body>

</html>